html, body{
width:100%;
overflow-x:hidden;
}

.menu{
width:15%;
height:2000px;
position:relative;
z-index:5;
}

.content{
width:85%;
height:2000px;
position:relative;
z-index:5;
}

#interIIT{
position:absolute;
width:85%;
left:-70%;

}

#schroeter{
position:absolute;
width:85%;
left:85%;}

#landing{
position:absolute;
width:70%;
left:15%;}

#interIIT .menu{
background-color:grey;
float:right;
}

#schroeter .menu{
background-color:orange;
float:left;
}

#landing .menu{
background-color:white;
float:left;
}

#interIIT .content{
background-color:grey;
float:left;
}

#schroeter .content{
background-color:orange;
left:15%;
}

#landing .content{
background-color:white;
left:15%;
}





